body{
    background-color:#1C1C1C ;
    color:green ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}
.backgroud-defaut{
    background-color: #228B22;
    color: black;
    border: 5px  black ;

}
.container{
    max-width: 800px;
    margin: 0 auto;
    
}
nav ul li a{
    display: inline ;
    margin: 20px;
    color: black;
    
}
img{
    border-radius: 50px;
}
li{
    display: inline;

}
iframe{

}

